#bulb{

    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: white;
}

button{
   border-radius: 10px;
   padding: 50px auto ;
   color: brown;
   margin: 80px;
}
body{
    background-color: black;
}